.container {
  /* border: 1px solid red;s */
  width: 50%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  /* padding-top: 1%; */
  /* padding: 20px; */
}
.card {
  width: 50%;
}
.card-body {
  font-size: large;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
