<div class="col-md-4 col-sm-6 col-12">
  <div class="card mb-4 shadow-sm" (click)="onCardClick()">
    <!-- <div class="card mb-4 shadow-sm"> -->
    <img
      class="card-img-top"
      [src]="individualShoppingItem.image"
      alt="Card image cap"
    />
    <!-- <hr /> -->
    <div class="card-body">
      <hr />
      <!-- <a>
        {{ individualShoppingItem.title.substr(0, 55) + "..." }}
      </a> -->
      <a
        [routerLink]="['/view-item/' + individualShoppingItem.id]"
        style="text-align: center; text-decoration: none"
      >
        {{ individualShoppingItem.title.substr(0, 30) + "..." }}
      </a>
      <div>
        <p class="price">
          <span style="vertical-align: super; font-size: smaller">$</span>
          {{ individualShoppingItem.price }}
        </p>
        <div class="rating">
          <img
            class="rating-star img-responsive"
            *ngFor="let count of numbersArray; let i = index"
            src="../../../assets/images/rating/3018558_level_rank_rating_score_standard_icon.png"
            alt=""
          />
          <img
            class="rating-star img-responsive"
            *ngFor="let count of reverseNumbersArray"
            src="../../../assets/images/rating/5875970_action_favorite_favourite_like_rating_icon.png"
            alt=""
          />
          <span style="margin-left: 5px">{{
            individualShoppingItem.rating.count
          }}</span>
        </div>
      </div>
      <p class="description">
        {{ individualShoppingItem.description | shorten }}
      </p>
      <div class="lower-part">
        <div class="buttons">
          <button
            (click)="RoutingFunction(individualShoppingItem.id, $event)"
            (mouseover)="IconChanger('eyeHover')"
            (mouseout)="IconChanger('eye')"
            class="btn btn-outline-primary left-btn"
          >
            <!-- View -->
            <img class="rating-star" [src]="eyeIconSrc" alt="" />
          </button>
          <!-- </a> -->
          <button
            (mouseover)="IconChanger('cartHover')"
            (mouseout)="IconChanger('cart')"
            (click)="addToCart($event)"
            class="btn btn-outline-success right-btn"
          >
            <!-- Add to cart -->
            <img class="rating-star" [src]="cartIconSrc" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
