footer {
  padding: 30px;
  /* position: fixed;
  bottom: 0; */
  width: 100%;
  background-color: white;

  /* margin: 0; */

  /* height: 15vh;
  max-height: 5vh; */
  /* height: 100% !important; */
  /* max-height: 30px !important; */
  /* height: fit-content; */
  /* border: 1px solid red; */
  border-top: 1px solid #6c757d33;
  overflow: hidden;
}
footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* display: inline; */
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* p
{
    display: inline;
} */
