footer {
  padding: 30px;

  width: 100%;
  background-color: white;

  border-top: 1px solid #6c757d33;
  overflow: hidden;
}
footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 320px) {
  .text-muted {
    padding: 10px;
    font-size: xx-small !important;
  }
  p {
    font-size: xx-small !important;
  }
}
