footer {
  padding: 30px;
  /* height: 100px; */
  height: 15vh;
  max-height: 15vh;
  /* max-height: 100px; */
  /* border: 1px solid red; */
}
footer .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* display: inline; */
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* p
{
    display: inline;
} */
