img {
  width: 30px;
  /* height: 30px; */
}
nav {
  /* align-items: center; */
  display: flex;
  flex-direction: row;
}

.container-fluid {
  display: flex;
  align-content: space-between;
  /* border: 1px solid red; */
}

.navbar-collapse {
  align-items: flex-end;
  flex-direction: row-reverse;
  /* display: flex; */
  /* border: 1px solid green; */
  /* justify-content: space-between; */
  /* width: fit-content !important; */
}
.navbar-nav {
  margin-right: 25px;
}
