img {
  width: 30px;
}
nav {
  display: flex;
  flex-direction: row;
}

.container-fluid {
  display: flex;
  align-content: space-between;
}

.navbar-collapse {
  justify-content: end;
}
.navbar-collapse > * {
}

.cart-counter {
  vertical-align: super;
  width: 20px;
  font-size: smaller;
  border-radius: 50%;
  color: white;
}

.navbar-nav {
  margin-right: 25px;
}
button {
  display: flex;
  flex-direction: row;
}
