<div class="body-display">
  <div>
    <!-- <input
      type="text"
      class="form-control search-bar"
      style="width: 50%"
      (input)="onInputChange($event)"
    /> -->
  </div>
  <div class="view-style-selector grid-display-container">
    <input
      type="text"
      class="form-control search-bar"
      style="width: 50%"
      (input)="onInputChange($event)"
    />
    <img
      class="search-bar-img"
      src="../../../assets/images/211818_search_icon.png"
    />

    <button
      class="btn btn-outline-secondary my-2"
      (click)="onViewChange('grid')"
    >
      <img src="../../assets/images/352413_grid_on_icon.png" />Grid view
    </button>
    <button
      class="btn btn-outline-secondary my-2"
      (click)="onViewChange('List')"
    >
      <img src="../../assets/images/3671904_list_view_icon.png" />List view
    </button>
  </div>
  <div
    class="container-fluid grid-display-container"
    *ngIf="gridView == true; else list_view"
  >
    <div class="row grid-display">
      <app-card
        *ngFor="let shoppingItem of displayList"
        [individualShoppingItem]="shoppingItem"
      ></app-card>
    </div>
    <nav
      aria-label="Page navigation example"
      style="
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 2%;
      "
    >
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <!-- <span class="sr-only">Previous</span> -->
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <!-- <span class="sr-only">Next</span> -->
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <ng-template #list_view>
    <div class="container-fluid">
      <div class="col-12 list-display">
        <app-list-view-card
          *ngFor="let shoppingItem of displayList"
          [individualShoppingItem]="shoppingItem"
        ></app-list-view-card>
      </div>
    </div>
  </ng-template>
</div>
