<div class="body-display">
  <div></div>
  <div class="view-style-selector grid-display-container">
    <input
      type="text"
      class="form-control search-bar"
      style="width: 50%"
      (input)="onInputChange($event)"
    />
    <img
      class="search-bar-img"
      src="../../../assets/images/211818_search_icon.png"
    />

    <button
      class="btn btn-outline-secondary my-2"
      (click)="onViewChange('grid')"
    >
      <img src="../../assets/images/352413_grid_on_icon.png" />Grid view
    </button>
    <button
      class="btn btn-outline-secondary my-2"
      (click)="onViewChange('List')"
    >
      <img src="../../assets/images/3671904_list_view_icon.png" />List view
    </button>
  </div>
  <div
    class="container-fluid grid-display-container"
    *ngIf="gridView == true; else list_view"
  >
    <div class="row grid-display">
      <app-card
        *ngFor="let shoppingItem of displayList"
        [individualShoppingItem]="shoppingItem"
      ></app-card>
    </div>
  </div>
  <ng-template #list_view>
    <div class="container-fluid">
      <div class="col-12 list-display">
        <app-list-view-card
          *ngFor="let shoppingItem of displayList"
          [individualShoppingItem]="shoppingItem"
        ></app-list-view-card>
      </div>
    </div>
  </ng-template>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <button class="pagination-button" (click)="pageIndexArrows('left')">
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </button>
      </li>
      <button
        type="button"
        class="pagination-button"
        (click)="pageIndexCounter(1)"
      >
        <a class="page-link"> 1</a>
      </button>
      <li class="page-item">
        <button class="pagination-button" (click)="pageIndexCounter(2)">
          <a class="page-link"> 2</a>
        </button>
      </li>
      <li class="page-item">
        <button
          type="button"
          class="pagination-button"
          (click)="pageIndexCounter(3)"
        >
          <a class="page-link"> 3</a>
        </button>
      </li>
      <li class="page-item">
        <button
          type="button"
          class="pagination-button"
          (click)="pageIndexArrows('right')"
        >
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </button>
      </li>
    </ul>
  </nav>
</div>
