<div class="col-12">
  <div class="card mb-1 shadow-sm col-12">
    <img class="card-img-top" [src]="itemDetails.image" alt="Card image cap" />
    <div class="card-body">
      <hr />
      <div>
        <h6>
          {{ itemDetails.title.substr(0, 30) + "..." }}
        </h6>
        <p class="price">
          <span style="vertical-align: super; font-size: smaller">$</span>
          {{ cartItemCost }}
        </p>
      </div>
      <div class="lower-part">
        <div class="buttons">
          <input
            type="number"
            min="1"
            class="form-control"
            #itemCount
            [value]="cartItemQuantity"
            (change)="calculateItemCost(itemCount.value)"
          />
          <button
            type="button"
            (mouseover)="IconChanger('deleteHover')"
            (mouseout)="IconChanger('delete')"
            (click)="deleteCartItem()"
            class="btn btn-outline-danger right-btn"
          >
            <!-- Add to cart -->
            <img class="rating-star" [src]="deleteIconSrc" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
