.card-img-top {
  padding-top: 10px;
  width: 40%;
  height: 100px;

  object-fit: contain;
}

.col-12 {
  padding: 5px;
  margin: 0;
}
.card {
  width: 100%;
  height: auto;

  align-items: center;
}
.card-body {
  width: 100%;
}
.description {
  margin-bottom: 5px;
}
.lower-part {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 0px;
  align-items: center;
}
.btn {
  font-size: smaller;
}
.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 2px;
}
.right-btn {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50%;
}
.left-btn {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 50%;
}
.price {
  display: inline;
  font-weight: bold;
  font-size: medium;
  padding: 0;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rating-star {
  padding: 0;
  margin: 0;
  width: 20px;
  height: fit-content;
}
@media screen and (max-width: 800px) {
  .card {
    font-size: xx-small !important;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .col-12 {
    padding: 0 !important;
  }
  .card-img-top {
  }
  .card {
    font-size: xx-small !important;
    height: 100%;

    align-items: center;
    padding: 5px !important;
    width: fit-content;
  }
  .card-body {
    height: fit-content;
    font-size: smaller !important;
    padding: 0 !important;
  }
  .card-body > *,
  h6,
  p,
  .input,
  .buttons,
  .buttons > * {
    font-size: smaller !important;
  }

  .buttons > button > img {
    width: 5px;
  }
}
@media screen and (max-width: 240px) {
  .col-12 {
    padding: 0 !important;
  }
  .card-img-top {
  }
  .card {
    font-size: xx-small !important;
    height: 100%;

    align-items: center;
    padding: 5px !important;
    width: fit-content;
  }
  .card-body {
    height: fit-content;
    font-size: smaller !important;
    padding: 0 !important;
  }
  .card-body > *,
  h6,
  p,
  .input,
  .buttons,
  .buttons > * {
    font-size: smaller !important;
  }

  .buttons > button > img {
    width: 5px;
  }
}
