.container-fluid {
  background-color: #6c757d33;

  margin: 0;
  overflow: hidden;
}
.row {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 25%;
}
.details-col {
  width: 75%;
}

.card-img-top {
  padding-top: 10px;

  width: 100%;

  max-width: auto;

  height: 70vh;

  object-fit: contain;
}
.vl {
  border-left: 2px solid grey;
  height: 100%;
  padding: 10px;
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.price {
  color: black;
  display: inline;
  font-weight: bold;
  font-size: x-large;
  padding: 0;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.rating-star {
  padding: 0;
  margin: 0;
  width: 20px;
  height: fit-content;
}
a {
  text-decoration: none;
}
.view-details {
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}
h4 {
  display: inline;
}
p {
  width: 100%;
  font-size: large;
  margin-bottom: 0;
}
a {
  font-size: x-large;
}
.Category {
  font-size: large;
}
.benefits {
  width: 40vw;
}
.right-part {
  width: 20%;
  margin: 0;
  padding: 0;
}
.buttons {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.btn {
  font-size: medium;
}

@media screen and (max-width: 576px) {
  .row {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .img-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }
  .card-img-top {
    padding-top: 10px;

    width: 100%;

    max-width: auto;

    height: 50vh;
    padding: 10px;
  }
  .details-col {
    width: 100%;
  }
}

@media screen and (max-width: 240px) {
  .row {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
  }
  .img-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
  }
  .card-img-top {
    padding-top: 10px;
    width: 100%;
    max-width: auto;
    height: 40vh;
    padding: 10px;
  }
  .details-col {
    width: 100%;
  }
  .card-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    font-size: xx-small;
  }
  .view-details > *,
  .price,
  h4,
  .description {
    font-size: xx-small !important;
  }
  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button > img {
    width: 10px;
  }
}
