.container {
  border-radius: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;

  background-color: #6c757d33;
}

.card {
  margin: 5px;
  padding: 15px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.card > * {
  width: 40%;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
}
.confirm-btn {
  display: flex;
  justify-content: center;
  margin: 15px;
}

@media screen and (max-width: 576px) {
  .container {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;

    background-color: #6c757d33;
    font-size: small;
    width: 90%;
  }
}
@media screen and (max-width: 320px) {
  .container {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;

    background-color: #6c757d33;
    font-size: small;
    width: 80%;
    font-size: xx-small;
  }
  input {
    font-size: xx-small;
  }

  .card {
    height: 100%;
    height: 100%;
    align-items: center;
    font-size: xx-small;
    align-items: center;
    padding: 5px !important;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .card > * {
    width: 40%;
    font-size: xx-small;
  }

  .btn-warning {
    font-size: smaller !important;
  }
}
@media screen and (max-width: 240px) {
  .container {
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;

    background-color: #6c757d33;
    font-size: small;
    width: 80%;
    font-size: xx-small;
  }
  input {
    font-size: xx-small;
  }

  .card {
    height: 100%;
    height: 100%;
    align-items: center;
    font-size: xx-small;
    align-items: center;
    padding: 5px !important;
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  .card > * {
    width: 40%;
    font-size: xx-small;
  }

  .btn-warning {
    font-size: smaller !important;
  }
}
