<div class="jumbotron">
  <h1 class="jumbotron-heading">E-commerce site</h1>
  <p class="lead">
    Welcome to our e-commerce site, where convenience meets quality. We are
    thrilled to bring you a wide range of products and services, all available
    at the click of a button. Whether you're looking for the latest fashion
    trends, cutting-edge electronics, or everyday essentials, we've got you
    covered. With our user-friendly interface and secure payment options,
    shopping has never been easier. Join us on this virtual shopping journey and
    experience the ultimate convenience of online shopping with our e-commerce
    site.
  </p>
</div>
<!-- <div *ngIf="!isLoadingBool; else loadedPage"> -->
<div>
  <app-card-list></app-card-list>
</div>

<ng-template #loadedPage>
  <app-loading-page></app-loading-page>
</ng-template>
