<div class="jumbotron">
  <h1 class="jumbotron-heading">E-commerce site</h1>
  <p class="lead">
    <!-- Something short and leading about the collection below—its contents, the
    creator, etc. Make it short and sweet, but not too short so folks don't
    simply skip over it entirely. -->
    Welcome to our e-commerce site, where convenience meets quality. We are
    thrilled to bring you a wide range of products and services, all available
    at the click of a button. Whether you're looking for the latest fashion
    trends, cutting-edge electronics, or everyday essentials, we've got you
    covered. With our user-friendly interface and secure payment options,
    shopping has never been easier. Join us on this virtual shopping journey and
    experience the ultimate convenience of online shopping with our e-commerce
    site.
  </p>
</div>
<div class="display-selector"></div>
<!-- <app-card></app-card> -->
<!-- <div class="view-style-selector">
  <button class="btn btn-outline-secondary my-2">
    <img src="../../assets/images/352413_grid_on_icon.png" />Grid view
  </button>
  <button class="btn btn-outline-secondary my-2">
    <img src="../../assets/images/3671904_list_view_icon.png" />List view
  </button>
</div> -->
<app-card-list></app-card-list>
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <div>
      <p>
        Album example is © Bootstrap, but please download and customize it for
        yourself!
      </p>
      <p>
        New to Bootstrap? <a href="../../">Visit the homepage</a> or read our
        <a href="../../getting-started/">getting started guide</a>.
      </p>
    </div>
  </div>
</footer>
